{% extends "BluemesaFliesBundle:Vial:batch_edit.html.twig" %}

{% block modal_header %}Batch edit crosses{% endblock modal_header %}

{% block form_header %}
<form action="{{ path('bluemesa_flies_crossvial_editvials') }}"
      method="post" class="form-horizontal">
{% endblock form_header %}

{% block modal_footer %}
  <button type="submit" class="btn btn-primary">Save</button>
  <a href="{{ path('bluemesa_flies_crossvial_list') }}" class="btn btn-default">Cancel</a>
{% endblock modal_footer %}
